/*Styling for the main template*/
/*allow smooth scrolling when using anchor links*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #faf9f5;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: normal;
}
/*for medium devices and smaller*/
@media (min-width: 360px) and (max-width: 767px) {
    .p-2 {
        /*apply p-3 class to left & right padding*/
		padding: 0.5rem 1rem !important;
    }
}
/*styles to enable sticky footer*/
#main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.main-content {
	flex: 1;
}
/*end styles*/
#main-footer {
	height: 170px;
	width: 100%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #343a40;
}
#address-footer {
	height: 80px;
    margin-bottom: 20px;
    padding-top: 30px;
    background-color: #72787d;
    color: #fff;
}
.style1 .footer-text {
	color: #e93ea3;
}
.style2 .footer-text {
	color: #b9975b;
}
.style3 .footer-text {
	color: #81c0c3;
}
/*button to switch branding*/
.brandBtn {
    position: fixed;
    top: 50%;
    right: 40px;
    z-index: 99;
    cursor: pointer;
}
@media (max-width: 575px) {
    .brandBtn {
        bottom: 10%;
        right: 20px;
    }
}
.fa-magic {
    color: #eb008b;
}
.fa-magic:hover {
    color: #eb33a0;
}

/*Styling for Dashboard page*/
.style1 .banner {
    background-image:url('/static/img/table.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 95vh;
    padding-top: 400px;
    opacity: 0.9;
}
@media (max-width: 575px) {
	.style1 .banner {
		height: 90vh;
		padding-top: 160px;
	}
}
.style2 .banner {
    background-image:url('/static/img/alcohol.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 95vh;
    padding-top: 400px;
    opacity: 0.7;
}
.style3 .banner {
    background-image:url('/static/img/tacos.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 95vh;
    padding-top: 400px;
    opacity: 0.7;
}
.main-heading {
    text-align: center;
    font-size: 70px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #757575;
    margin-bottom: 120px;
}
@media (min-width: 361px) and (max-width: 575px) {
    .main-heading {
        font-size: 50px;
		margin-bottom: 80px;
	}
}
@media (max-width: 360px) {
	.main-heading {
        font-size: 40px;
		margin-bottom: 70px;
	}
}
.main-heading .border {
    display: inline-block;
    color: #fff;
    border: 0px none !important;
    padding: 20px;
}
.see-charts {
    display: block;
    font-size: 47px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 20px;
}
@media (max-width: 575px) {
	.see-charts {
        font-size: 35px;
	}
}
/*amend Font Awesome down arrow*/
.fa-chevron-circle-down {
    color: #fff;
}
.fa-chevron-circle-down:hover {
    color: #e1e1e1;
}
/*display the right sized arrow based on screen size*/
/*do the same with the switch branding button*/
.small-screen {
	display: none;
}
@media (max-width: 575px) {
	.large-screen {
		display: none;
	}
	.small-screen {
		display: block;
	}
}
.style1 h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #eb008b;
}
.style2 h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #b9975b;
}
.style3 h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #81c0c3;
}
/*Modify the chart title areas to have bold text*/
.chart-wrapper .chart-title {
    font-weight: bold;
}
/*Enable scrolling on the divs containing the charts ('chart-stage') when the page is viewed on smaller screens*/
.chart-wrapper .scrolling {
    overflow-x: auto;
}

/*Amend some Bootstrap default values*/
/*overwrite the default colour of all the links on the navbar*/
.navbar-dark .navbar-nav .nav-link {
	color: #e93ea3;
}
/*text and background colour for the navbar links upon hover*/
.nav-item a:hover {
	background-color: #444a51;
	color: #e93ea3 !important;
}
/*force the link associated with the drop-down menu to be the default colour when the drop-down is active*/
.dropdown-toggle {
    color: #e93ea3 !important;
}
/*background colour for the whole drop-down menu*/
/*force the font size of links on the drop-downs to be the same as the rest of the navbar*/
.dropdown-menu {
    background-color: #343a40;
    margin-top: 9px;
    font-size: 15px;
}
/*text colour for links on the drop-down menu*/
.dropdown-item {
    color: #fff;
}
/*adjust the line colour of the dropdown divider*/
.dropdown-divider {
    border-color: #2c3136;
}
/*border colour for the 'burger' button of the collapsible nav menu*/
.navbar-dark .navbar-toggler {
	border-color: #eb008b;
}
/*colour of the horizontal lines for the 'burger' button of the collapsible nav menu*/
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235, 0, 139, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}